@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  background: url("https://res.cloudinary.com/tyagiashu88/image/upload/v1666768568/pexels-photo-2220292_n4rmju.jpg");
}
